<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='/contact_form_thanks/';}"></iframe>

<div class="form-style">
  <form class="form" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSdD_sTwrwsuvDkjsNq_LVWWNaUhsIdPfEwaY2-6ZXUVBymXVw/formResponse" method="post" target="hidden_iframe" onsubmit="submitted=true;">
    <fieldset>
      <input name="entry.1113691336" type="text" placeholder="Your name" required />
      <input name="entry.1561061353" type="email" placeholder="Your email" required />
      <textarea name="entry.1522606929" placeholder="Type your message"></textarea>
    </fieldset>
    <fieldset>
      <input type="submit" value="Send" />
    </fieldset>
  </form>
</div>
